
$main-bg-color: #414141;
$secondary-bg-color: #ddd;
$light-bg-color: #fffcff;
$dark-bg-color: #030303;

$active-color: #f35362;
$inactive-color: #3c3c3c;

$light-text-color: #ffffff;
$dark-text-color: #000000;
$muted-text-color: #666666;

$well-rated-color: #96d74f;

$logo-color: $active-color;