@import '~CommonStyles';

.input {
  position: relative;
  width: 100%;

  &__text {
    padding: 5px 20px 5px 15px;
    width: 100%;

    color: $light-text-color;
    background-color: $dark-bg-color;
    border: none;
    border-bottom: 1px solid $active-color;

    &:focus {
      outline: 2px solid $active-color;;
    }
  }
  
  &__icon {
    position: absolute;
    right: -28px;
    top: 5px;

    color: $light-text-color;
  }
}
